.me .me-info {
    padding-top: 100px;
}
@media only screen and (max-width: 576px){
    .me .me-info {
        padding: 0;
        text-align: center;
        margin-top: 40px;
    }

}
.me .me-info .me-promo {
    margin-bottom: 30px;
}

@media only screen and (max-width: 576px){
    .me .me-info .me-promo {
        transform: translate(35%, -3%);
    }

}
.me .me-info .me-promo div {
    width: 30%;
    height: 60px;
    background-color: #0bceaf;
    border-top-left-radius: 50px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 50px;
    border-bottom-left-radius: 0px;
}
.me .me-info .me-promo div lottie-player {
    height: 150px;
    transform: translate(10%, -30%);

}
.me .me-info ul {
    margin-top: 20px;
}
.me .me-info .social-icon {
    margin-top: 0;
}

.me .me-info ul li {
    margin: 10px 0;
}
.social-icon li {
    list-style: none;
    float: left;
    margin-bottom: 0px;
    margin-right: 8px;
}
@media only screen and (max-width: 576px){
    .social-icon li {
        float: none;
        display: inline-block;
    }

}

.me .img-border {
    height: 400px;
    width: 400px;
    margin: 0 auto;
    border: 20px solid rgba(0, 0, 0, 0.9);
    border-radius: 50%;
}
@media only screen and (max-width:  420px){
    .me .img-border {
        height: 100%;
        width: 100%;
    }

}

.me .me-img {
    margin: 0 auto;
    margin-top: 30px;
    text-align: center;
}
.me .me-img img {
    margin: 0 auto;
    text-align: center;
    border: 20px solid rgba(0, 0, 0, 0.17);
    border-radius: 50%;
}
.me-padding {
    padding: 100px 0;
}
@media only screen and (max-width: 576px){
    .me-padding {
        flex-direction: column-reverse !important;
        padding: 60px 0 !important;
    }
}

.me .me-info .social-icon li .bi {
    font-size: 18px;
    line-height: 30px;
    padding: 4px 14px;
    margin-right: 10px;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    border-radius: 3px;
}
.me  .me-info ul li a:hover i{
    color: #0bceaf;
}
.me .me-info ul li .bi {
    margin-right: 15px;
    display: inline-block;
}

.bi {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.me .me-info h2 {
    font-size: 60px;
    font-weight: 600;
    line-height: 65px;
    margin-top: 10px;
    margin-bottom: 10px;
}
.me .me-info h4 {
    font-size: 26px;
    line-height: 34px;
    margin-bottom: 30px;
}